/* 
 * GLOBAL
 */
headerbar {
    min-height: 0px;
    padding: 0px;
    background: hsl(0, 0%, 5%);
}

window.background {
    border-radius: 0px;
    background: hsl(0, 0%, 5%);
}

spinbutton {
    min-height: 12px;
    min-width: 12px;
    border: 0px solid transparent;
    font-size: 12px;
    margin: 2px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 3px;
}

/* 
 * SIDEBUTTON
 */
.side-button {
    min-width: 40px;
    min-height: 40px;
    border: 0px solid transparent;
    border-radius: 0px;
    padding: 0px;
    margin: 2px;
    background: hsl(0, 0%, 15%);
}

.side-button:hover {
    background: hsl(0, 0%, 20%);
}

.side-button:active {
    background: hsl(0, 0%, 25%);
}

/* 
 * GLVIWER
 */
.gl-viewer-overlay {
    border: 0px solid transparent;
    border-radius: 3px;
    margin: 0px;
}

.gl-area {
    border: 0px solid transparent;
    border-radius: 3px;
    background: hsl(0, 0%, 25%);
}

/* 
 * FORMAT
 */
.retinify_context {
    border: 0px solid transparent;
    border-radius: 3px;
    padding: 0px;
    margin: 12px;
    background: transparent;
}

.retinify_button {
    /* min-height: 12px; */
    min-width: 50px;
    border: 0px solid transparent;
    border-radius: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 3px;
    padding-right: 3px;
    margin: 2px;
    background: hsl(0, 0%, 15%);
}

.retinify_button:hover {
    background: hsl(0, 0%, 15%);
}

.retinify_button:active {
    background: hsl(0, 0%, 15%);
}

.retinify_drop_down {
    min-width: 50px;
    border: 0px solid transparent;
    border-radius: 3px;
    padding: 0px;
    margin: 2px;
    background: transparent;
}

.retinify_grid {
    border: 0px solid transparent;
    border-radius: 3px;
    padding: 0px;
    margin: 0px;
    background: hsl(159, 83%, 44%);
}

.retinify_expander {
    min-width: 100px;
    border: 0px solid transparent;
    border-radius: 3px;
    padding: 3px;
    margin: 2px;
    background: hsl(69, 95%, 46%);
}

.retinify_scroll_window {
    min-width: 200px;
    border: 0px solid transparent;
    border-radius: 3px;
    padding: 0px;
    margin: 0px;
    background: hsl(233, 80%, 48%);
}

.retinify_list {
    border: 0px solid transparent;
    border-radius: 3px;
    padding: 0px;
    margin: 2px;
    background: hsl(0, 85%, 44%);
}