name: build-cpu

on:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches:
      - main
      - dev
  workflow_dispatch:

jobs:
  build-cpu:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4
      with:
        submodules: true

    - uses: ./.github/actions/hf-download
      with:
        token: ${{ secrets.HF_TOKEN }}

    - name: Dependencies
      run: |
        sudo apt update
        sudo apt-get install -y build-essential cmake curl git libopencv-dev
        git submodule update --init --recursive

    - name: Build RETINIFY
      run: |
        ./build.sh --install --cpu --accept-eula
