name: build-tensorrt10-cuda12

on:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches:
      - main
      - dev
  workflow_dispatch:

jobs:
  build-tensorrt10-cuda12:
    if: ${{ github.event_name != 'pull_request' || github.actor == 'retinify' }}
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4
      with:
        submodules: true

    - uses: ./.github/actions/hf-download
      with:
        token: ${{ secrets.HF_TOKEN }}

    - name: Login to NVIDIA NGC
      env:
        NGC_API_KEY: ${{ secrets.NGC_API_KEY }}
      run: |
        echo "${NGC_API_KEY}" | docker login nvcr.io -u '$oauthtoken' --password-stdin

    - name: Build RETINIFY with TensorRT
      run: |
        docker run --rm \
          -v ${{ github.workspace }}:/workspace \
          -w /workspace \
          nvcr.io/nvidia/tensorrt:24.12-py3 \
          bash -c "
            set -e

            nvcc --version

            cat /etc/os-release | grep VERSION

            apt update && apt install -y git cmake build-essential

            git config --global --add safe.directory /workspace
            git config --global --add safe.directory /workspace/3rdparty/retinify-eula
            git submodule update --init --recursive

            ./build.sh --install --tensorrt --accept-eula
          "