name: build-tensorrt10-jetpack6

on:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches:
      - main
      - dev
  workflow_dispatch:

jobs:
  build-tensorrt10-jetpack6:
    if: ${{ github.event_name != 'pull_request' || github.actor == 'retinify' }}
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4
      with:
        submodules: recursive
        fetch-depth: 0

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3
      with:
        platforms: arm64

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to NVIDIA NGC
      env:
        NGC_API_KEY: ${{ secrets.NGC_API_KEY }}
      run: |
        echo "${NGC_API_KEY}" | docker login nvcr.io -u '$oauthtoken' --password-stdin

    - name: Build RETINIFY with Jetson TensorRT
      run: |
        docker run --rm --platform linux/arm64 \
          -v ${{ github.workspace }}:/workspace \
          -w /workspace \
          nvcr.io/nvidia/l4t-tensorrt:r10.3.0-devel \
          bash -c "
            set -e
            
            nvcc --version
            
            cat /etc/os-release | grep VERSION

            export DEBIAN_FRONTEND=noninteractive
            apt update && apt install -y git cmake build-essential

            export PATH=/usr/bin:$PATH
            hash -r
            cmake --version

            git config --global --add safe.directory /workspace
            git config --global --add safe.directory /workspace/3rdparty/glfw            
            git config --global --add safe.directory /workspace/3rdparty/googletest
            git config --global --add safe.directory /workspace/3rdparty/imgui
            git submodule sync --recursive
            git submodule update --init --recursive

            ./build.sh --install --tensorrt
          "